<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36324875987-ohn95bpc185pb76e8oiujr2kjle0cmt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36324875987-ohn95bpc185pb76e8oiujr2kjle0cmt8</string>
	<key>API_KEY</key>
	<string>AIzaSyDDzJFd3bGPMdZ4pdx6LCPC7J3ZB0SZbIs</string>
	<key>GCM_SENDER_ID</key>
	<string>36324875987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeAppIims</string>
	<key>PROJECT_ID</key>
	<string>iims-flutter-project</string>
	<key>STORAGE_BUCKET</key>
	<string>iims-flutter-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36324875987:ios:3b9e904fc5d0c3ca9ebe26</string>
	<key>DATABASE_URL</key>
	<string>https://iims-flutter-project-default-rtdb.firebaseio.com</string>
</dict>
</plist>